<!DOCTYPE html>
<html>
  <head>
    <title>Organizer</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <div class="mdl-layout mdl-js-layout">
      <header class="organiza-header mdl-layout__header">
        <div class="mdl-layout-icon"></div>
        <div class="mdl-layout__header-row">
          <span class="mdl-layout__title">Organiza</span>
          <div class="mdl-layout-spacer"></div>
          <nav class="mdl-navigation">
            <% if user_signed_in? %>
              Logged in as <strong><%= current_user.email %></strong>.
              <a href="/categories" class="mdl-navigation__link">Categories</a>
              <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
              <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
            <% else %>
              <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
              <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
            <% end %>
          </nav>
        </div>
      </header>
      <div class="organiza-drawer mdl-layout__drawer">
        <span class="mdl-layout__title">Organiza</span>
        <nav class="mdl-navigation">
          <a href="/categories" class="mdl-navigation__link">Categories</a>
          <a href="#" class="mdl-navigation__link">Login</a>
        </nav>
      </div>
      <main class="organiza-background mdl-layout__content">
        <% flash.each do |message_type, message| %>
            <div><%= message %></div>
        <% end %>
        <% if notice %>
          <p class="notice"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p class="alert"><%= alert %></p>
        <% end %>
        <%= yield %>
      </main>
    </div>
  </body>
</html>
